# **Python Lists**

A list is a built-in data structure that allows you to store an ordered collection of items. Lists can contain elements of different data types, such as integers, floats, strings, or even other lists. The items in a list are mutable, meaning you can change them (add, remove, or modify elements) after the list is created.



*   Items have a defined order, and this order is maintained.
*   You can modify a list after its creation (e.g., append, remove, update).
*   Lists are used to store multiple items in a single variable.
*   These items can be of any data type including numbers, strings, float, boolean, or even other lists.
*   Lists are created using square brackets, and the items are seperated by commas.
*   Any kind of data type can be added into a single list.
*   Items in a list can be accessed by their index, which starts from 0.
*   Items can also be accessed by elements from the end of the list using negative indexing starts from -1(right to left).

Example:

In [ ]:
list = [1, 2, 3.14, "Hello", True, 1 + 3j, [4, 5, 6]]
print(list)

[1, 2, 3.14, 'Hello', True, (1+3j), [4, 5, 6]]

Exaples for lists with different data types:

In [2]:

# Numbers
num_list = [10, 42, 67, 39, 22, 49, 82, 56, 73, 51]
print(num_list)

# Strings
str_list = ["apple", "banana", "Car", "57", "time", "Steve"]
print(str_list)

# Floats
floats_list = [3.14, 9.71, 8.3, 6.1, 3.3]
print(floats_list)

# Booleans
booleans_list = [True, False]
print(booleans_list)

# Complex
complex_list = [1 + 2j, 3 + 4j]
print(complex_list)

# List of Lists
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_lists)

[10, 42, 67, 39, 22, 49, 82, 56, 73, 51]
['apple', 'banana', 'Car', '57', 'time', 'Steve']
[3.14, 9.71, 8.3, 6.1, 3.3]
[True, False]
[(1+2j), (3+4j)]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Different types of lists with different datatypes

In [26]:
list1 = [1, 2, 3, 4, 5]
list2 = [1.1, 2.2, 3.3, 4.4, 5.5]
list3 = ["apple", "banana", "cherry", "date", "elderberry"]
list4 = [True, False, True, False, True]
list5 = [1, "apple", True, 3.14]
list6 = [1 + 2j, 2 + 3j, 3 + 4j, 4 + 5j, 5 + 6j]
list7 = [[1, 2], [3, 4], [5, 6]]
list8 = [51, 72, 67, 84, 96]
list9 = [[1, 2], [3, 4]]
list10 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)
print(list8)
print(list9)
print(list10)

[1, 2, 3, 4, 5]
[1.1, 2.2, 3.3, 4.4, 5.5]
['apple', 'banana', 'cherry', 'date', 'elderberry']
[True, False, True, False, True]
[1, 'apple', True, 3.14]
[(1+2j), (2+3j), (3+4j), (4+5j), (5+6j)]
[[1, 2], [3, 4], [5, 6]]
[51, 72, 67, 84, 96]
[[1, 2], [3, 4]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Indexing in Python

Indexing in python allows you to access elements in a list using their position. Indexing starts from 0 for the first element. Python also supports negative indexing, where -1 refers to the last element, -2 refers to the second-last element, and so on.

Example from above 10 lists for indexing

In [15]:
list2[1]

2.2

In [17]:
list6[-3]

(3+4j)

In [20]:
list10[0]

[1, 2, 3]

## Slicing of List

Consider a Python list, in order to access a range of elements in a list, you need to slice a list. One way to do this is to use the simple slicing operator i.e. colon(:). With this operator, one can specify where to start the slicing, where to end, and specify the step.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[0]) # for first element (Indexing)
print(my_list[-1]) # for last element (Indexing)
print(my_list[2:5]) # elements from index 2 to 5 (slicing)
print(my_list[:5]) # elements from the beginning to index 5 (Slicing)
print(my_list[3:]) # elements from index 3 to the end (Slicing)
print(my_list[:]) # all elements from the list (Slicing)

1
10
[3, 4, 5]
[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Positive Indexes:

In the case of Positive Indexing, the first element of the list has the index number 0, and the last element of the list has the index number N-1, where N is the total number of elements in the list (size of the list).

Negative Indexes:

The below diagram illustrates a list along with its negative indexes. Index -1 represents the last element and -N represents the first element of the list, where N is the length of the list.

Example for slicing:

In [ ]:
Lst = [50, 70, 30, 20, 90, 10, 50]
print(Lst[:4])  #positive slicing
print(Lst[-4:]) #negative slicing

[50, 70, 30, 20]
[20, 90, 10, 50]

In [25]:
my_list = [10, "hello", 3.14, True, 2 + 3j, 5, "world", 2.71, False, 1 - 1j, 15, "Apple", 1.618, True, 4 + 5j, 20, "Car", 0.577, False, 6 - 2j]
print(my_list)

print(my_list[:10]) # access first 10 elements with possitive index
print(my_list[:-10]) # access first 10 elements with negative index
print(my_list[10:]) # access last 10 elements with possitive index
print(my_list[-10:]) # access last 10 elements with negative index

[10, 'hello', 3.14, True, (2+3j), 5, 'world', 2.71, False, (1-1j), 15, 'Apple', 1.618, True, (4+5j), 20, 'Car', 0.577, False, (6-2j)]
[10, 'hello', 3.14, True, (2+3j), 5, 'world', 2.71, False, (1-1j)]
[10, 'hello', 3.14, True, (2+3j), 5, 'world', 2.71, False, (1-1j)]
[15, 'Apple', 1.618, True, (4+5j), 20, 'Car', 0.577, False, (6-2j)]
[15, 'Apple', 1.618, True, (4+5j), 20, 'Car', 0.577, False, (6-2j)]

## List Operations



### 1.   Concatenation of Lists

Concatenation refers to joining two or more lists together to create a new list. In Python, you can concatenate lists using the ' + ' operator. Concatenation creates a new list, and the original lists remain unchanged.

Example:

In [5]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [24]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1 += list2  # list1 = list1 + list2
print(list1)

[1, 2, 3, 4, 5, 6]



###    2. Repetition of Lists

Repetition involves repeating the elements of a list a specified number of times. You can repeat a list using the ' * ' operator. The * operator creates a new list where the original list is repeated n times.

Example:

In [11]:
list1 = [1, 2, 3]
list2 = list1 * 7
print(list2)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
list1 = ['apple', 'ball', 'cat']
list2 = list1 * 5
print(list2)

['apple', 'ball', 'cat', 'apple', 'ball', 'cat', 'apple', 'ball', 'cat', 'apple', 'ball', 'cat', 'apple', 'ball', 'cat']