# **Operators in Python**

In Python, operators are special symbols or keywords that are used to perform operations on values or variables. These operations can involve arithmetic, comparison, logical evaluations, and more. Operators are essential in writing expressions that produce specific results.

Here's a breakdown of the different types of operators in Python:



*   Arithmetic Operators
*   Assignment Operators
*   Comparison Operators
*   Logical Operators
*   Identity Operators
*   Membership Operators
*   Bitwise Operators

## 1. Arithmetic Operators

These operators are used to perform mathematical operations.


*    (+) : Addition (e.g., a + b)
*   (-) : Subtraction (e.g., a - b)
*   (*) : Multiplication (e.g., a * b)
*   (/) : Division (e.g., a / b)
*   (//) : Floor division (division that results in the floor value of the quotient) (e.g., a // b)
*   (**) : Exponentiation (e.g., a ** b for a raised to the power b)
*   (%) : Modulus (remainder of division) (e.g., a % b)

Examples for arithmetic operator

In [ ]:
# Addition(+)

print(5 + 3)         # 8
print(10 + 20)       # 30
print(-7 + 2)        # -5
print(3.5 + 4.5)     # 8.0
print(0 + 15)        # 15
print(99 + 1)        # 100
print(-10 + (-5))    # -15
print(100 + 250)     # 350
print(0.1 + 0.2)     # 0.30000000000000004
print(1000 + 1)      # 1001

8
30
-5
8.0
15
100
-15
350
0.30000000000000004
1001

In [ ]:
# Substraction(-)

print(10 - 5)        # 5
print(20 - 30)       # -10
print(-7 - 2)        # -9
print(3.5 - 1.5)     # 2.0
print(0 - 15)        # -15
print(100 - 50)      # 50
print(-10 - (-5))    # -5
print(1000 - 250)    # 750
print(0.1 - 0.05)    # 0.05
print(500 - 499)     # 1

5
-10
-9
2.0
-15
50
-5
750
0.05
1

In [ ]:
# Multiplication(*)

print(5 * 3)         # 15
print(10 * 20)       # 200
print(-7 * 2)        # -14
print(3.5 * 2.5)     # 8.75
print(0 * 15)        # 0
print(99 * 1)        # 99
print(-10 * (-5))    # 50
print(100 * 250)     # 25000
print(0.1 * 0.2)     # 0.02
print(1000 * 0.1)    # 100.0

15
200
-14
8.75
0
99
50
25000
0.020000000000000004
100.0

In [ ]:
# Division(/)

print(10 / 2)        # 5.0
print(20 / 4)        # 5.0
print(-15 / 3)       # -5.0
print(7.5 / 2.5)     # 3.0
print(1 / 2)         # 0.5
print(99 / 3)        # 33.0
print(-10 / (-5))    # 2.0
print(1000 / 250)    # 4.0
print(0.1 / 0.2)     # 0.5
print(5 / 2)         # 2.5

5.0
5.0
-5.0
3.0
0.5
33.0
2.0
4.0
0.5
2.5

In [ ]:
# Floor Division(//)

print(10 // 3)       # 3
print(20 // 7)       # 2
print(15 // 4)       # 3
print(7 // 2)        # 3
print(99 // 5)       # 19
print(-10 // 3)      # -4
print(100 // 250)    # 0
print(12 // 6)       # 2
print(8 // 3)        # 2
print(5 // 2)        # 2

3
2
3
3
19
-4
0
2
2
2

In [ ]:
# Exponentiation (**)

print(2 ** 3)        # 8
print(3 ** 2)        # 9
print(5 ** 3)        # 125
print(10 ** 2)       # 100
print(2 ** 10)       # 1024
print(7 ** 4)        # 2401
print(4 ** 3)        # 64
print(9 ** 0.5)      # 3.0
print(8 ** 1)        # 8
print(5 ** 0)        # 1

8
9
125
100
1024
2401
64
3.0
8
1

In [ ]:
# Modulus (%)

print(10 % 3)        # 1
print(20 % 7)        # 6
print(15 % 4)        # 3
print(7 % 2)         # 1
print(99 % 5)        # 4
print(-10 % 3)       # 2
print(100 % 250)     # 100
print(12 % 6)        # 0
print(8 % 3)         # 2
print(5 % 2)         # 1

1
6
3
1
4
2
100
0
2
1

## 2. Assignment Operators

These operators are used to assign values to variables.



*   (=) : Simple assignment (e.g., a = 5)
*   (+=) : Add and assign (e.g., a += 5 which is equivalent to a = a + 5)

*   (-=) : Subtract and assign (e.g., a -= 5 which is equivalent to a = a - 5)
*   (*=) : Multiply and assign (e.g., a *= 5 which is equivalent to a = a * 5)

*   (/=) : Divide and assign (e.g., a /= 5 which is equivalent to a = a / 5)
*   (%=) : Modulus and assign (e.g., a %= 5 which is equivalent to a = a % 5)

*   (//=) : Floor divide and assign (e.g., a //= 5 which is equivalent to a = a // 5)
*   (**=) : Exponentiate and assign (e.g., a **= 5 which is equivalent to a = a ** 5)

Examples for assignment operators

In [ ]:
# Assignment (=)

a = 5
print(a)  # 5

b = 10
print(b)  # 10

c = -7
print(c)  # -7

d = 3.5
print(d)  # 3.5

e = 0
print(e)  # 0

f = 99
print(f)  # 99

g = -10
print(g)  # -10

h = 1000
print(h)  # 1000

i = 0.1
print(i)  # 0.1

j = 500
print(j)  # 500

5
10
-7
3.5
0
99
-10
1000
0.1
500

In [ ]:
# Add and Assign (+=)

a = 5
a += 3
print(a)  # 8

b = 10
b += 20
print(b)  # 30

c = -7
c += 2
print(c)  # -5

d = 3.5
d += 1.5
print(d)  # 5.0

e = 0
e += 15
print(e)  # 15

f = 99
f += 1
print(f)  # 100

g = -10
g += -5
print(g)  # -15

h = 1000
h += 250
print(h)  # 1250

i = 0.1
i += 0.2
print(i)  # 0.30000000000000004

j = 500
j += 499
print(j)  # 999

8
30
-5
5.0
15
100
-15
1250
0.30000000000000004
999

In [ ]:
# Subtract and Assign (-=)

a = 5
a -= 3
print(a)  # 2

b = 10
b -= 20
print(b)  # -10

c = -7
c -= 2
print(c)  # -9

d = 3.5
d -= 1.5
print(d)  # 2.0

e = 0
e -= 15
print(e)  # -15

f = 99
f -= 1
print(f)  # 98

g = -10
g -= -5
print(g)  # -5

h = 1000
h -= 250
print(h)  # 750

i = 0.1
i -= 0.05
print(i)  # 0.05

j = 500
j -= 499
print(j)  # 1

2
-10
-9
2.0
-15
98
-5
750
0.05
1

In [ ]:
# Multiply and Assign (*=)

a = 5
a *= 3
print(a)  # 15

b = 10
b *= 20
print(b)  # 200

c = -7
c *= 2
print(c)  # -14

d = 3.5
d *= 2.5
print(d)  # 8.75

e = 0
e *= 15
print(e)  # 0

f = 99
f *= 1
print(f)  # 99

g = -10
g *= -5
print(g)  # 50

h = 100
h *= 250
print(h)  # 25000

i = 0.1
i *= 0.2
print(i)  # 0.020000000000000004

j = 1000
j *= 0.1
print(j)  # 100.0

15
200
-14
8.75
0
99
50
25000
0.020000000000000004
100.0

In [ ]:
# Divide and Assign (/=)

a = 10
a /= 2
print(a)  # 5.0

b = 20
b /= 4
print(b)  # 5.0

c = -15
c /= 3
print(c)  # -5.0

d = 7.5
d /= 2.5
print(d)  # 3.0

e = 1
e /= 2
print(e)  # 0.5

f = 99
f /= 3
print(f)  # 33.0

g = -10
g /= -5
print(g)  # 2.0

h = 1000
h /= 250
print(h)  # 4.0

i = 0.1
i /= 0.2
print(i)  # 0.5

j = 5
j /= 2
print(j)  # 2.5

5.0
5.0
-5.0
3.0
0.5
33.0
2.0
4.0
0.5
2.5

In [ ]:
# Floor Divide and Assign (//=)

a = 10
a //= 3
print(a)  # 3

b = 20
b //= 7
print(b)  # 2

c = 15
c //= 4
print(c)  # 3

d = 7
d //= 2
print(d)  # 3

e = 99
e //= 5
print(e)  # 19

f = -10
f //= 3
print(f)  # -4

g = 100
g //= 250
print(g)  # 0

h = 12
h //= 6
print(h)  # 2

i = 8
i //= 3
print(i)  # 2

j = 5
j //= 2
print(j)  # 2

3
2
3
3
19
-4
0
2
2
2

In [ ]:
# Exponentiate and Assign (**=)

a = 2
a **= 3
print(a)  # 8

b = 3
b **= 2
print(b)  # 9

c = 5
c **= 3
print(c)  # 125

d = 10
d **= 2
print(d)  # 100

e = 2
e **= 10
print(e)  # 1024

f = 7
f **= 4
print(f)  # 2401

g = 4
g **= 3
print(g)  # 64

h = 9
h **= 0.5
print(h)  # 3.0

i = 8
i **= 1
print(i)  # 8

j = 5
j **= 0
print(j)  # 1

8
9
125
100
1024
2401
64
3.0
8
1

In [ ]:
# Modulus and Assign (%=)

a = 10
a %= 3
print(a)  # 1

b = 20
b %= 7
print(b)  # 6

c = 15
c %= 4
print(c)  # 3

d = 7
d %= 2
print(d)  # 1

e = 99
e %= 5
print(e)  # 4

f = -10
f %= 3
print(f)  # 2

g = 100
g %= 250
print(g)  # 100

h = 12
h %= 6
print(h)  # 0

i = 8
i %= 3
print(i)  # 2

j = 5
j %= 2
print(j)  # 1

1
6
3
1
4
2
100
0
2
1

## 3. Comparison Operators

These operators are used to compare two values. They return a Boolean value (True or False).



*   (==) : Equal to (e.g., a == b)
*   (!=) : Not equal to (e.g., a != b)

*   (>) : Greater than (e.g., a > b)
*   (<) : Less than (e.g., a < b)

*   (>=) : Greater than or equal to (e.g., a >= b)
*   (<=) : Less than or equal to (e.g., a <= b)

Examples for comparison operators

In [ ]:
# Equal (==)

print(5 == 5)        # True
print(10 == 20)      # False
print(-7 == -7)      # True
print(3.5 == 3.5)    # True
print(0 == 0)        # True
print(99 == 100)     # False
print(-10 == 10)     # False
print(1000 == 1000)  # True
print(0.1 == 0.2)    # False
print(500 == 500)    # True

True
False
True
True
True
False
False
True
False
True

In [ ]:
# Not Equal (!=)

print(5 != 5)        # False
print(10 != 20)      # True
print(-7 != -7)      # False
print(3.5 != 3.5)    # False
print(0 != 1)        # True
print(99 != 100)     # True
print(-10 != 10)     # True
print(1000 != 999)   # True
print(0.1 != 0.2)    # True
print(500 != 500)    # False

False
True
False
False
True
True
True
True
True
False

In [ ]:
# Greater Than (>)

print(5 > 3)         # True
print(10 > 20)       # False
print(-7 > -10)      # True
print(3.5 > 2.5)     # True
print(0 > -1)        # True
print(99 > 100)      # False
print(-10 > -15)     # True
print(1000 > 999)    # True
print(0.1 > 0.05)    # True
print(500 > 600)     # False

True
False
True
True
True
False
True
True
True
False

In [ ]:
# Less Than (<)

print(5 < 3)         # False
print(10 < 20)       # True
print(-7 < -10)      # False
print(3.5 < 2.5)     # False
print(0 < -1)        # False
print(99 < 100)      # True
print(-10 < -5)      # True
print(1000 < 999)    # False
print(0.1 < 0.05)    # False
print(500 < 600)     # True

False
True
False
False
False
True
True
False
False
True

In [ ]:
# Greater Than or Equal To (>=)

print(5 >= 3)        # True
print(10 >= 20)      # False
print(-7 >= -7)      # True
print(3.5 >= 3.5)    # True
print(0 >= -1)       # True
print(99 >= 100)     # False
print(-10 >= -15)    # True
print(1000 >= 999)   # True
print(0.1 >= 0.1)    # True
print(500 >= 500)    # True

True
False
True
True
True
False
True
True
True
True

In [ ]:
# Less Than or Equal To (<=)

print(5 <= 3)        # False
print(10 <= 20)      # True
print(-7 <= -7)      # True
print(3.5 <= 3.5)    # True
print(0 <= -1)       # False
print(99 <= 100)     # True
print(-10 <= -5)     # True
print(1000 <= 999)   # False
print(0.1 <= 0.1)    # True
print(500 <= 600)    # True

False
True
True
True
False
True
True
False
True
True

## 4. Logical Operators

These operators are used to combine conditional statements.



*   (and) : Returns True if both statements are true (e.g., a and b)
*   (or) : Returns True if at least one statement is true (e.g., a or b)
*   (not) : Reverses the result, returns False if the statement is true (e.g., not a)

Examples for and, or, not.

In [ ]:
# Logical AND (and)

print(5 > 3 and 10 > 5)     # True and True -> True
print(10 > 20 and 20 > 10)  # False and True -> False
print(-7 < 0 and -7 > -10)  # True and True -> True
print(3.5 == 3.5 and 2 > 3) # True and False -> False
print(0 > 0 and 1 > 0)      # False and True -> False
print(99 != 100 and 100 > 99)  # True and True -> True
print(-10 > 0 and 10 < 20)  # False and True -> False
print(1000 == 1000 and 999 < 1000)  # True and True -> True
print(0.1 > 0.2 and 0.1 == 0.1)  # False and True -> False
print(500 < 600 and 600 < 700)  # True and True -> True

True
False
True
False
False
True
False
True
False
True

In [ ]:
# Logical OR (or)

print(5 > 3 or 10 < 5)      # True or False -> True
print(10 > 20 or 20 > 10)   # False or True -> True
print(-7 < 0 or -7 > 0)     # True or False -> True
print(3.5 == 3.5 or 2 > 3)  # True or False -> True
print(0 > 0 or 1 > 0)       # False or True -> True
print(99 != 100 or 100 < 99)  # True or False -> True
print(-10 > 0 or 10 < 20)   # False or True -> True
print(1000 == 1001 or 999 > 1000)  # False or False -> False
print(0.1 > 0.2 or 0.1 == 0.1)  # False or True -> True
print(500 > 600 or 600 < 700)  # False or True -> True

True
True
True
True
True
True
True
False
True
True

In [ ]:
# Logical NOT (not)

print(not(5 > 3))           # not(True) -> False
print(not(10 > 20))         # not(False) -> True
print(not(-7 < 0))          # not(True) -> False
print(not(3.5 == 3.5))      # not(True) -> False
print(not(0 > 0))           # not(False) -> True
print(not(99 != 100))       # not(True) -> False
print(not(-10 > 0))         # not(False) -> True
print(not(1000 == 1001))    # not(False) -> True
print(not(0.1 > 0.2))       # not(False) -> True
print(not(500 > 600))       # not(False) -> True

False
True
False
False
True
False
True
True
True
True






## 5.   Identity Operators

Identity operators in Python are used to compare the memory locations of two objects to check if they refer to the same object in memory. There are two identity operators:



1.   is: Evaluates to True if both variables point to the same object (i.e., have the same memory location).

In [7]:
x = [1, 2, 3]
y = x
print(x is y)  # True

True

Examples:

In [12]:
x = [1, 2, 3]
y = x
print(x is y)  # True

a = 10
b = 10
print(a is b)  # True

str1 = "Hello"
str2 = "Hello"
print(str1 is str2)  # True

list1 = [1, 2, 3]
list2 = [1, 2, 3]
print(list1 is list2)  # False

x = 5
y = 5
print(x is y)  # True

True
True
True
False
True



**2**.   is not: Evaluates to True if the variables point to different objects (i.e., have different memory locations).

In [10]:
x = [1, 2, 3]
y = [1, 2, 3]
print(x is not y)  # True, because x and y are two different objects, even though they have the same content.

True

Examples:

In [11]:
x = [1, 2, 3]
y = [1, 2, 3]
print(x is not y)  # True

a = 10
b = 20
print(a is not b)  # True

str1 = "Hello"
str2 = "World"
print(str1 is not str2)  # True

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(list1 is not list2)  # True

x = 5
y = 5
print(x is not y)  # False

True
True
True
True
False



## 6.   Membership Operator

Membership operators in Python are used to test whether a value is found within a sequence, such as a string, list, tuple, or set. There are two membership operators:



1.   in: Evaluates to True if the specified value is present in the sequence.

In [13]:
x = [1, 2, 3, 4]
print(2 in x)  # True, because 2 is in the list x

True

Examples:

In [16]:
text = "Hello"
print("H" in text)  # True

numbers = [1, 2, 3, 4, 5]
print(3 in numbers)  # True

fruits = ("apple", "banana", "cherry")
print("banana" in fruits)  # True

my_dict = {"name": "Alice", "age": 30}
print("name" in my_dict)  # True

colors = {"red", "green", "blue"}
print("green" in colors)  # True

True
True
True
True
True



2.   not in: Evaluates to True if the specified value is not present in the sequence.

In [15]:
x = [1, 2, 3, 4]
print(5 not in x)  # True, because 5 is not in the list x

True

Examples:

In [17]:
text = "Hello"
print("Z" not in text)  # True

numbers = [1, 2, 3, 4, 5]
print(10 not in numbers)  # True

fruits = ("apple", "banana", "cherry")
print("orange" not in fruits)  # True

my_dict = {"name": "Alice", "age": 30}
print("city" not in my_dict)  # True

colors = {"red", "green", "blue"}
print("yellow" not in colors)  # True

True
True
True
True
True



## 7.   Bitwise Operators

Bitwise operators in Python operate at the bit level, meaning they perform operations on the binary representations of integers. These operators are used to manipulate bits and are commonly used in low-level programming tasks.

Here are the bitwise operators:







*   AND (&): Compares each bit, returns 1 if both bits are 1.


*   OR (|): Compares each bit, returns 1 if any bit is 1.


*   XOR (^): Compares each bit, returns 1 if bits are different.


*   NOT (~): Inverts all bits.


*   Left Shift (<<): Shifts bits to the left.


*   Right Shift (>>): Shifts bits to the right.

Examples for all Bitwise operators:

In [19]:
# AND (&)
print(5 & 3)  # Output: 1
print(10 & 7) # Output: 2

# OR (|)
print(5 | 3)  # Output: 7
print(10 | 7) # Output: 15

# XOR (^)
print(5 ^ 3)  # Output: 6
print(10 ^ 7) # Output: 13

# NOT (~)
print(~5)  # Output: -6
print(~10) # Output: -11

# Left Shift (<<)
print(5 << 2)  # Output: 20
print(10 << 1) # Output: 20

# Right Shift (>>)
print(5 >> 2)  # Output: 1
print(10 >> 1) # Output: 5

1
2
7
15
6
13
-6
-11
20
20
1
5