# **Python Tuples**




*   Tuples are used to store multiple items in a single variable.
*   A tuple is a collection which is ordered and unchangeable.
*   Tuples are written with round brackets.

## Creating a tuple

In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [3]:
mixed_mytuple = ("apple", 1, True, 5.92)
print(mytuple)

('apple', 'banana', 'cherry')

In [4]:
single_element_tuple = ("apple",)
print(single_element_tuple)
print(type(single_element_tuple))

('apple',)
<class 'tuple'>

In [5]:
print(single_element_tuple)

('apple',)

## Accessing tuples with index

tuple supports indexing

Example:

In [6]:
mytuple= ("apple", "banana", "cherry")
print(mytuple[0])

apple

In [7]:
mytuple= ("apple", "banana", "cherry")
print(mytuple[0])
print(mytuple[0:9])

apple
('apple', 'banana', 'cherry')

## Immutability

Once a tuple is created you can't make changes in the tuple.

In [8]:
mylist = ("apple", "banana", "cherry")
mylist[0] = "orange"
print(mylist)

TypeError: 'tuple' object does not support item assignment

## Tuple Operations



**1.   Concatination**

combines two tuples

In [9]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [27]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple1 += tuple2
print(tuple1)

('a', 'b', 'c', 1, 2, 3)



**2.   Repetition**

repeating a tuple

In [10]:
tuple1 = ("a", "b" , "c")
tuple2 = tuple1 * 2
print(tuple2)

('a', 'b', 'c', 'a', 'b', 'c')

In [28]:
tuple1 = ("a", "b" , "c")
tuple1 *= 2
print(tuple1)

('a', 'b', 'c', 'a', 'b', 'c')

## Tuple Methods



**1.   index():**

returns the index of the item.

In [11]:
thistuple = ("apple", "banana", "cherry")
x = thistuple.index("cherry")
print(x)

2

In [19]:
mytuple = (2, 4, 6, 3, 7, 9)
print(mytuple.index(7))

4



**2.   count():**

returns the count of the item.

In [12]:
thistuple = ("apple", "banana", "cherry", "apple")
x = thistuple.count("apple")
print(x)

2

In [20]:
mytuple = (2, 4, 6, 3, 7, 9, 7)
print(mytuple.count(7))

2



**3.   len():**

returns the length of the tuple.

In [13]:
thistuple = ("apple", "banana", "cherry")
x = len(thistuple)
print(x)

3

In [21]:
mytuple = (2, 4, 6, 3, 7, 9)
print(len(mytuple))

6



**4.   min():**

returns the minimum element in a tuple.

In [14]:
thistuple = (1, 2, 3)
x = min(thistuple)
print(x)

1

In [24]:
mytuple = ("apple", "Banana", "cherry")
print(min(mytuple))

Banana



**5.   max():**

returns the maximum element in the tuple.

In [16]:
thistuple = (1, 2, 3)
x = max(thistuple)
print(x)

3

In [25]:
mytuple = ("apple", "Banana", "cherry")
print(max(mytuple))

cherry



**6.   del():**

deletes the entire tuple.

In [18]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) # error causes because tuple named thistuple does not exist

NameError: name 'thistuple' is not defined