# **Python Dictionaries**



*   Dictionaries are used to store data values in key:value pairs.
*   A dictionary is a collection which is changeable and do not allow duplicates.

*   In Python 3.6 and earlier, dictionaries are unordered.
*   Dictionaries are written with curly brackets, and have keys and values.

*   Dictionary items are ordered.
*   Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

## Creating a Dictionary

Example for create and print a Dictionary:

In [3]:
mydict = {
  "Name": "Adam",
  "Age": 20,
  "Gender": "Male",
  "languages": ["English", "Hindi", "Telugu"]
}
print(mydict)

{'Name': 'Adam', 'Age': 20, 'Gender': 'Male', 'languages': ['English', 'Hindi', 'Telugu']}

**type():**

In [4]:
print(type(mydict))

<class 'dict'>

## Accessing Values

We can access the values in dictionary using keys.

Example:

In [12]:
mydict = {
  'Name': 'Adam',
  'Age': 20,
  'Gender': 'Male',
  'languages': ["English", "Hindi", "Telugu"]
}
print(mydict)

{'Name': 'Adam', 'Age': 20, 'Gender': 'Male', 'languages': ['English', 'Hindi', 'Telugu']}

In [14]:
print(mydict['Name'])

Adam

In [15]:
mydict['Age'] = 25
print(mydict)

{'Name': 'Adam', 'Age': 25, 'Gender': 'Male', 'languages': ['English', 'Hindi', 'Telugu']}

## Adding a new element

Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [16]:
mydict['Location'] = 'Hyderabad'
print(mydict)

{'Name': 'Adam', 'Age': 25, 'Gender': 'Male', 'languages': ['English', 'Hindi', 'Telugu'], 'Location': 'Hyderabad'}

## Dictionary Methods



**1.   get():**

Returns the value for the given key

In [17]:
print(mydict.get('Name'))

Adam

In [19]:
print(mydict.get('Age'))

25




**2.   keys():**

Returns a view object that displays a list of all the keys in the dictionary in order of insertion.

In [20]:
print(mydict.keys())

dict_keys(['Name', 'Age', 'Gender', 'languages', 'Location'])



**3.   values():**

Returns a view object containing all dictionary values, which can be accessed and iterated through efficiently.

In [21]:
print(mydict.values())

dict_values(['Adam', 25, 'Male', ['English', 'Hindi', 'Telugu'], 'Hyderabad'])



**4.   items():**

Return the list with all dictionary keys with values.

In [22]:
print(mydict.items())

dict_items([('Name', 'Adam'), ('Age', 25), ('Gender', 'Male'), ('languages', ['English', 'Hindi', 'Telugu']), ('Location', 'Hyderabad')])




**5.   update():**

Updates the dictionary with the elements from another dictionary or an iterable of key-value pairs. With this method, you can include new data or merge it with existing dictionary entries.

In [25]:
mydict.update({'Name': 'John'})
print(mydict)

{'Name': 'John', 'Age': 25, 'Gender': 'Male', 'languages': ['English', 'Hindi', 'Telugu'], 'Location': 'Hyderabad'}



**6.   pop():**

Returns and removes the element with the given key.

In [26]:
print(mydict.pop('Age'))

25



**7.   popitem():**

Returns and removes the key-value pair from the dictionary.

In [28]:
print(mydict.popitem())

('Location', 'Hyderabad')