# **Python Sets**



*   Sets are used to store multiple items in a single variable.
*   Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

*   It is an unordered collection of unique items.
*   Sets are written with curly brackets {}.

*   Set items are unchangeable, but you can remove items and add new items.

*   Sets cannot have two items with the same value.

## Creating Sets

In [3]:
myset = {"apple", "banana", "cherry"} # myset with elements

In [4]:
print(myset)

{'banana', 'apple', 'cherry'}

## Converting a list to set

In [6]:
num = set([1,2,3,4,5]) # num list conversion to set
num

{1, 2, 3, 4, 5}

In [8]:
print(type(num))

<class 'set'>

In [9]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 3, 1, 5, 6} # duplicate elements
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
highnums = {23, 46, 72, 69, 33, 50, 12, 4, 59, 23, 69, 72} # duplicate elements
highnums

{4, 12, 23, 33, 46, 50, 59, 69, 72}

In [11]:
mixnums = {46, 64, 52, 73, 55, 98, 87, 52, 64, 73, 98} # duplicate elements
mixnums

{46, 52, 55, 64, 73, 87, 98}

## Add Items

To add one item to a set use the add() method.

In [12]:
myset = {"apple", "banana", "cherry"}
myset.add("orange")
print(myset)

{'orange', 'banana', 'apple', 'cherry'}

In [14]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 3, 1, 5, 6}
numbers.add("allnumbers")
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'allnumbers'}

## Update sets

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [16]:
myset = {"apple", "banana", "cherry"}
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 3, 1, 5, 6}
myset.update(numbers)
print(myset)

{1, 2, 3, 'banana', 4, 'apple', 5, 6, 7, 8, 9, 10, 'cherry'}

## Remove a set element

To remove an item in a set, use the remove(), or the discard() method.

In [17]:
myset = {"apple", "banana", "cherry"}
myset.remove("banana")
print(myset)

{'apple', 'cherry'}

In [20]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 3, 1, 5, 6}
print("Before removing 10")
print(numbers)
numbers.discard(10) # using discard()
print("After removing 10")
print(numbers)

Before removing 10
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After removing 10
{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Set operations

Set provides built-in methods such as union, intersection, substraction and symmetric difference to perform mathematical operations among sets.



**1.   Union:**

combines elements from two sets, removing duplicates.

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}

print("a|b :", a|b)

union_set = a.union(b)
print("a.union(b):",union_set)

a|b : {1, 2, 3, 4, 5}
a.union(b): {1, 2, 3, 4, 5}

In [24]:
a = {91, 22, 43, 89}
b = {35, 43, 57, 89}

print("a|b :", a|b)

union_set = a.union(b)
print("a.union(b):",union_set)

a|b : {35, 43, 22, 89, 91, 57}
a.union(b): {35, 43, 22, 89, 91, 57}




**2.   Intersection():**

Returns common elements between two sets.

In [26]:
a = {91, 22, 43, 89}
b = {35, 43, 57, 89}

print("a.intersection(b):", a.intersection(b) )

print("a & b:",a & b)

a.intersection(b): {89, 43}
a & b: {89, 43}



**3.   Difference:**

Finds the elements that are present in the first set but not in the second set.

In [27]:
a = {91, 22, 43, 89}
b = {35, 43, 57, 89}

print("a.difference(b):", a.difference(b) )

print("a - b:",a - b)

a.difference(b): {91, 22}
a - b: {91, 22}

In [29]:
a = {91, 22, 43, 89}
b = {35, 43, 57, 89}

print("b.difference(a):", b.difference(a) )

print("b - a:",b - a)

b.difference(a): {57, 35}
b - a: {57, 35}




**4.   Symmetric Difference:**

Finds the elements that are present in either set, but not in both sets.

In [28]:
a = {91, 22, 43, 89}
b = {35, 43, 57, 89}

print("a.symmetric_difference(b):", a.symmetric_difference(b) )

print("a ^ b:",a ^ b)

a.symmetric_difference(b): {35, 22, 57, 91}
a ^ b: {35, 22, 57, 91}